#rotulagem-backdrop {
  position: fixed;
  top:0; left:0; width:100vw; height:100vh;
  background: rgba(0,0,0,0.33);
  z-index: 99999999;
  display: none;
}
#rotulagem-panel {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 18px;
  border: 2.2px solid #333;
  box-shadow: 0 8px 32px #0008;
  min-width: 350px;
  padding: 28px 36px 22px 36px;
  font-family: sans-serif;
  z-index: 99999999;
  display: none;
}
#rotulagem-panel h3 {
  margin-top:0;margin-bottom:14px;font-size:1.19em;color:#222;
}
#rotulagem-panel input[type="text"] {
  display: block;
  width: 98%;
  font-size: 1em;
  margin-bottom: 8px;
  padding: 7px 10px;
  border-radius: 8px;
  border: 1.2px solid #bbb;
  box-sizing: border-box;
}
#rotulagem-panel button {
  padding: 7px 24px;
  border: none;
  border-radius: 7px;
  background: #149C3B;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
#rotulagem-panel button#rotulagem_cancelar {
  background: #999;
  color: #fff;
}
